@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}
body {
	background: rgb(255, 255, 255, 0.9);
}
.modal {
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.164);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #120b48;
	border-radius: 10px;
}
